.search-bar-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    width: 50rem;
    border: 2px solid lightgray;
    border-right: none;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgb(195, 195, 195);
}

.searchBar-inner-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    flex: 1;
}

.search-bar-input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px 0px 0px 5px;
    color: black;
    height: 40px;
    padding-left: 10px;
    flex: 1;
}

.search-bar-input:focus {
    border-style: 1px solid #7eb312;
    outline-style:  1px solid #7eb312;
    outline-color:  #7eb312;
    box-shadow:  #7eb312;
}

.searchBar-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
    width: 54px;
    margin-top: -1px;
    border: 1px solid #7eb312;
    background-color: #7eb312;
    border-radius: 0px 5px 5px 0px;
}

.searchBar-button-container:hover{
    opacity: .9;
    cursor: pointer;
}

.searchBar-button-container:active {
    transform: scale(.98);
}

.magnifying-glass {
    width: 22px;
    height: 22px;
    font-size: 22px;
    color: rgb(255, 253, 253);
}
