.create-business-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.create-business-container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 100%;
    margin-top: -1rem;
}

.create-bus-form-container {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 25rem;
    margin-top: 1rem;
    margin-left: 8rem;
}

.create-bus-title{
    font-size: 30px;
    font-weight: 400;
}

.create-bus-message{
    margin-top: -20px;
    margin-bottom: 30px;
}

.create-bus-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.city-state-zip {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.city-input-field {
    width: 15rem;
    height: 2rem;
    border-radius: 3px;
    font-size: 1rem;
    border: solid .1rem black;
}

.state-input-field {
    width: 6rem;
    height: 2rem;
    border-radius: 3px;
    font-size: 1rem;
    border: solid .1rem black;

}

.zip-input-field {
    width: 10rem;
    height: 2rem;
    border-radius: 3px;
    font-size: 1rem;
    border: solid .1rem black;
}

.create-bus-input-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.create-bus-input-field input {
    width: 33rem;
    height: 2rem;
    border-radius: 3px;
    font-size: 1rem;
    border: solid .1rem black;
}

.description-input-field {
    min-width: 33rem;
    max-width: 33rem;
    height: 4rem;
    min-height: 4rem;
    max-height: 13rem;
    border-radius: 3px;
    font-size: 1rem;
    border: solid .1rem black;
}

.price-input-field {
    width: 33.5rem;
    height: 2rem;
    border: .1rem solid black;
    border-radius: 3px;
    font-size: 1rem;
}

.create-bus-form-bttn {
    height: 2.5rem;
    width: 10rem;
    color: white;
    background-color: #7eb312;
    border-radius: 4px;
    border: solid 0;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5rem;
}

.create-bus-form-bttn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.create-bus-form-bttn:active {
    transform: scale(.98);
}

.create-bus-form-bttn:disabled {
    pointer-events: none;
    background-color: grey;
}

.create-business-container-right {
    display: flex;
    flex-direction: column;
}

.create-bus-errors{
    list-style-type: none;
    color: red;
    margin-top: -1rem;
}

.error-create-bus{
margin-left: 2rem;
}

.restaurant-img{
    width: 30rem;
    height: 20rem;
}
