.all-reviews-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 5rem;
}

.single-review-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.single-review-container:hover{
    box-shadow: 0px 0px 6px rgb(195, 195, 195);
    border-radius: 5px;
}

.user-pic-name-options-conatiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-pic-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.reviewUserPic{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.review-options-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-right: 20px;
}

.review-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.review-rating-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.rating-showcase-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 10rem;
    height: 2.5rem;
}

.rating-showcase{
    height: 28px;
    width: 28px;
    border-radius: 7px;
}

.review{
    font-size: 16px;
    margin-top: 10px;
}

.edit-review-bttn{
    width: 25px;
    height: 25px;
}

.edit-review-bttn:hover{
   cursor: pointer;
}

.delete-review-bttn{
    width: 25px;
    height: 25px;
}

.delete-review-bttn:hover{
  cursor: pointer;
}
